<!doctype html>
<html lang="is">
    <head>
        <meta charset = "utf-8">
        <title><%= title %></title>
        <link rel = "stylesheet" href = "public/styles.css">
    </head>

    <body>
        <!-- <%- include('header') -%> -->
        <p> <%- 'Halló heimur' -%> </p>
        <p><a href='/foo'><%- foo -%><a></p>
        <!-- <%- include('footer') -%> -->
    </body>
</html>
